:host { 
  display: contents; 
}
 
.hero-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.hero-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero-text1 {
  text-align: center;
}
 
.hero-text2 {
  text-align: center;
}
 
.hero-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
 
.hero-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero-row-container {
  width: 100%;
}
 
.hero-placeholder-image10,
.hero-placeholder-image11,
.hero-placeholder-image12,
.hero-placeholder-image13,
.hero-placeholder-image14,
.hero-placeholder-image15,
.hero-placeholder-image16,
.hero-placeholder-image17,
.hero-placeholder-image18,
.hero-placeholder-image19,
.hero-placeholder-image20,
.hero-placeholder-image21 {
  width: 400px;
  height: 400px;
}

.hero-container2 {
  display: contents;
}
 
.hero-fragment {
  display: contents;
}
 
.hero-text5 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .hero-content2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .hero-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero-button1,
  .hero-button2 {
    width: 100%;
  }
}

/* Animation styles added here */
.thq-animated-group-container-horizontal {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.thq-animated-group-horizontal {
  display: flex;
  animation: scroll-right 19s linear infinite;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
