<div class="logos3-container1 thq-section-padding">
  <div class="logos3-max-width thq-section-max-width">
    <div class="logos3-container2">
      <h2 class="thq-heading-2">
        <ng-container>
          <ng-template #defaultHeading11>
            <div class="logos3-fragment2">
              <span class="logos3-text6">Technologies</span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="heading11 ? heading11 : defaultHeading11"
          ></ng-container>
        </ng-container>
      </h2>
      <span class="logos3-text2 thq-body-small">
        <ng-container>
          <ng-template #defaultContent1>
            <div class="logos3-fragment1">
              <span class="logos3-text3">
                <span>
                  At Feelix IT, we stay at the forefront of emerging
                  technologies to deliver forward-thinking, impactful solutions.
                  Our commitment to innovation drives us to leverage the latest
                  tools and frameworks—transforming ideas into real-world
                  applications that empower businesses and uplift rural
                  communities through technology-driven change
                </span>
                <br />
              </span>
            </div>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="content1 ? content1 : defaultContent1"
          ></ng-container>
        </ng-container>
      </span>
    </div>
    <div class="thq-grid-5">
      <img
        [attr.alt]="logo1Alt"
        src="/assets/html5-original.svg"
        class="logos3-logo1 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo2Alt"
        src="/assets/css3-original.svg"
        class="logos3-logo2 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo3Alt"
        src="/assets/javascript-original.svg"
        class="logos3-logo3 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo4Alt"
        src="/assets/flutter-original.svg"
        class="logos3-logo4 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo5Alt"
        src="/assets/microsoftsqlserver-plain-wordmark.svg"
        class="logos3-logo5 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo6Alt"
        src="/assets/angularjs-original.svg"
        class="logos3-logo6 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo7Alt"
        src="/assets/react-original.svg"
        class="logos3-logo7 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo8Alt"
        src="/assets/nodejs-plain-wordmark.svg"
        class="logos3-logo8 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo9Alt"
        src="/assets/csharp-original.svg"
        class="logos3-logo9 thq-img-ratio-16-9"
      />
      <img
        [attr.alt]="logo10Alt"
        src="/assets/mongodb-original-wordmark.svg"
        class="logos3-logo10 thq-img-ratio-16-9"
      />
    </div>
  </div>
</div>
